<!doctype html>
<html lang="ko">
  <head>
    <%- include(fromComponents('head.html')) %> <%- include(fromComponents('ns-import.html')) %>
    <title>부분공간 - 수학 공책</title>
  </head>
  <body>
    <!-- header -->
    <%- include(fromComponents('header.html')) %>
    <!-- contents -->
    <h1>부분공간</h1>
    <hr />
    <h2 id="definition">정의</h2>
    <p>
      다음을 만족하는 집합 $W$를
      <a href="/linear-algebra/vector-space#vector-space-axioms" class="ns-link">벡터공간</a> $V$의
      <strong>부분공간</strong>이라고 한다.
    </p>
    <ol data-flush-left="0">
      <li>$$W \subseteq V$$</li>
      <li>$$W \neq \emptyset$$</li>
      <li>$W$는 $V$의 스칼라곱과 덧셈이 정의된 벡터공간이다.</li>
    </ol>

    <h2 id="equivalence">필요충분조건</h2>
    <p>
      $W \subseteq V$가
      <a href="/linear-algebra/vector-space#vector-space-axioms" class="ns-link">벡터공간</a>
      $V$의 공집합이 아닌 부분집합일 때, 다음은 동치이다.
    </p>
    <ol data-flush-left="0">
      <li>$W$는 $V$의 <a href="/linear-algebra/subspace#definition" class="ns-link">부분공간</a>이다.</li>
      <li>
        <!-- prettier-ignore -->
        <span>
          $$ \begin{aligned}
          \left( \forall \mathbf{u}, \mathbf{v} \in W, \quad \mathbf{u}+\mathbf{v} \in W \right) 
          \allowbreak
          
          \;\land\;
          \allowbreak
          
          \left(\forall \mathbf{u} \in W, \; \forall k \in F, \quad k\mathbf{u} \in W \right)
          \tag{\href{/linear-algebra/subspace#equivalence-proof}{\text{증명}}}
          \end{aligned} $$
        </span>

        <span id="equivalence-2-1" class="ns-hidden">
          $$\forall \mathbf{u}, \mathbf{v} \in W, \quad \mathbf{u}+\mathbf{v} \in W$$
        </span>
        <span id="equivalence-2-2" class="ns-hidden">
          $$\forall \mathbf{u} \in W, \; \forall k \in F, \quad k\mathbf{u} \in W $$
        </span>
      </li>
    </ol>
    <h5 id="equivalence-proof" class="ns-hidden">필요충분조건 증명</h5>
    <p>
      $(1) \implies (2)$:
      <a href="/linear-algebra/subspace#definition" class="ns-link">정의</a>에 따라, $W$는
      <a href="/linear-algebra/vector-space#vector-space-axioms" class="ns-link">벡터공간</a>이다. $W$는 벡터공간 공리
      <a href="/linear-algebra/vector-space#axiom-1" class="ns-link">1</a>,
      <a href="/linear-algebra/vector-space#axiom-6" class="ns-link">6</a>을 만족한다. 따라서 $W$는 $(2)$의 두 조건을
      만족한다.
    </p>
    <p>
      $(2) \implies (1)$: $W \subseteq V$가 벡터공간 $V$의 공집합이 아닌 부분집합이므로, $\forall \mathbf{u} \in W,
      \quad \mathbf{u} \in V$이다. 따라서 $W$는 벡터공간 공리 2, 3, 7, 8, 9, 10을 만족한다. 조건에 따라, $W$는 벡터공간
      공리 1, 6을 만족한다.
    </p>
    <h6><a href="/linear-algebra/vector-space#axiom-4" class="ns-link">공리 4</a></h6>
    <p data-flush-left="0">
      <!-- prettier-ignore -->
      <span>
        $$ \begin{aligned} 

        & W \neq \emptyset \\
        
        \implies & \exists \mathbf{w} \in W \\ 

        \href{/linear-algebra/subspace#equivalence-2-2}{\implies} & 0\mathbf{w} \in W \; \land \; 0\mathbf{w} \in V \\ 

        \href{/linear-algebra/vector-space#property-1}{\implies} & \mathbf{0} \in W \quad
        \allowbreak
        \text{s.t.} \quad \forall \mathbf{u} \in W \quad \mathbf{u}+\mathbf{0}=\mathbf{u} \\

        \end{aligned} $$
      </span>
    </p>
    <h6><a href="/linear-algebra/vector-space#axiom-5" class="ns-link">공리 5</a></h6>
    <p data-flush-left="0">
      <!-- prettier-ignore -->
      <span>
        $$ \forall \mathbf{u} \in W, \; \forall k \in F, \quad k\mathbf{u} \in W $$
        $$ \begin{aligned} 

        \implies & \forall \mathbf{u} \in W, \quad
        \allowbreak
        (-1)\mathbf{u} \in W \; \land \; (-1)\mathbf{u} \in V \\

        \href{/linear-algebra/vector-space#property-3}{\implies} 
        &\forall \mathbf{u} \in W, \quad -\mathbf{u} \in W \quad
        \allowbreak
        \text{s.t.} \quad \mathbf{u}+(-\mathbf{u})=\mathbf{0} \\
        
        \end{aligned} $$
      </span>
    </p>
    <p>$W$는 벡터공간 공리를 만족한다. $W$는 벡터공간이다. 따라서 $W$는 $V$의 부분공간이다.</p>

    <h2>용어</h2>
    <ul>
      <li>공리 axiom</li>
      <li>덧셈 addition</li>
      <li>벡터 vector</li>
      <li>벡터공간 vector space</li>
      <li>스칼라 scalar</li>
      <li>스칼라곱 scalar multiplication</li>
      <li>공집합empty set</li>
      <!-- <li>원소 element</li> -->
      <li>집합 set</li>
      <!-- <li>항등원 identity</li> -->
      <!-- <li>유일성 uniqueness</li> -->
      <!-- <li>덧셈역원 additive inverse</li> -->
      <!-- <li>소거법칙 cancellation law</li> -->
      <li>부분집합 subset</li>
      <li>부분공간 subspace</li>
    </ul>
    <!-- footer -->
    <%- include(fromComponents('footer.html')) %>
  </body>
</html>
